.product-detail {
    display: flex;
}

.product-detail img {
    width: 40%;
    border-radius: 0.25rem;
}

.product-info {
    margin-left: 3rem;
}

.product-info .title {
    font-size: 4rem;
}

.product-info .price {
    font-size: 2rem;
}